.hero-btn{
    border: none;
    color: #000;
    cursor: pointer;
    padding: 3% 5%;
}

.hero-cont{
    background-color: #e49c9d;
    display: flex;
    font-family: lato;
    justify-content: space-between;
    margin: auto;
    padding: 10%;
}

.hero-desc{
    font-family: lato;
}

.hero-img{
    cursor: pointer;
    object-fit: cover;
}

.hero-socials{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    width: 50%;
}

.hero-socials i{
    color: #fff;
    cursor: pointer;
    font-size: 28px;
}

.hero-text{
    color: #fff;
    width: 35%;
}

.hero-title{
    display: inline;
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
}
@media screen and (max-width: 750px) {
    .hero-cont{
        min-height: 50vh;
        position: relative;
    }
    .hero-img{
        width: 95%;
    }
    .hero-socials i{
        color: #e49c9d;
    }
    .hero-text{
        position: absolute;
        background-color: #000c;
        padding: 5%;
        width: 70%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1200px){
    .hero-text{
        width: 35%;
    }
    .hero-img{
        object-fit: cover;
        width: 50%;
    }
}