/* Styling for labels */
.amount-label, label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  

.pay-title{
  margin: 5% auto 5%;
  width: 300px;
}

/* Styling for form container */
#paymentForm {
    font-size: 20px;
    margin: 0 auto;
    width: 300px;
}
  
/* Styling for form groups */
.form-group {
    margin-bottom: 20px;
}

.form-submit{
    margin: auto;
    width: 30%;
}
  
/* Styling for input fields */
.email-input, .name-input, .phone-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
/* Styling for submit button */
.pay-btn{
    background-color: #e49c9d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  